{% extends "base.html" %}
{% from "partials/_form_helpers.html" import render_field %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="auth-wrap">
    <div class="card">
        <h1>Change Password</h1>
        <form class="form-grid" method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.current_password) }}
            {{ render_field(form.new_password) }}
            {{ render_field(form.confirm_new_password) }}
            {{ form.submit(class="btn") }}
        </form>
    </div>
</div>
{% endblock %}
